.App {
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-traffic-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(179, 154, 154, 0.726);
}

.App-link {
  color: #61dafb;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
  background-color: rgb(255, 250, 250);
}

.participants {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.participants img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chart {
  width: 100%;
  height: 100%;
}


/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
}

.left-section {
  flex: 1;
}

.competition-title {
  font-size: 26px;
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.competition-title {
  font-size: 36px;
  font-weight: bold;
  margin-right: auto; 
}

.right-section {
  display: flex;
  align-items: center;
}

.timeline-container {
  background-color: rgba(236, 231, 231, 0.418);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.timeline-box {
  display: flex;
  position: relative;
}

.timeline-slider {
  width: 100px; 
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.timeline-item {
  padding: 10px 10px;
  cursor: pointer;
}

.timeline-item:first-child {
  border-radius: 20px 0 0 20px;
}

.timeline-item:last-child {
  border-radius: 0 20px 20px 0;
}


.active-comp-notSelected {
  background-color: #e9dfdf;
  border-radius: 5px;
  padding-inline: 6px;
}


.active-comp-selected {
  background-color: #a39c9c;
  border-radius: 5px;
  padding-inline: 6px;
}

/*Zooltext.js*/

.zooltext-container {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}

.zooltext-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.zooltext-header h1 {
  font-size: 24px;
  margin: 0;
}

.zooltext-header p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.ask-question {
  position: relative;
}

.question-button {
  background-color: #f3f3f3;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.ask-question:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.zooltext-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.zooltext-box {
  flex-basis: calc(50% - 10px);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
}

.upper-half {
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px;
}

.lower-half {
  background-color: #f0f0f0;
  padding-top: 5px;
}

.box-header {
  display: flex;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.red-icon {
  background-color: red;
}

.green-icon {
  background-color: green;
}

.yellow-icon {
  background-color: yellow;
}

.box-header h2 {
  font-size: 16px;
  margin: 0;
}

.box-header p {
  font-size: 12px;
  color: #555;
  margin: 0;
}

.box-text {
  flex: 1;
  padding-top: 10px;
  text-align: left;
}

.box-text p {
  font-size: 14px;
  color: #555;
  margin: 0;
  padding: 0px 0px 20px 20px;
}

.box-text a {
  color: #007bff;
  text-decoration: none;
}



/*userleaderboard.css*/
.userleaderboard-container {
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 64px;
  margin: 0;
  text-align: left;
}



.table-row {
  display: flex;
  justify-content: space-between;
}

.see-leaderboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.see-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.see-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



/*traffic.js*/

.traffic-container {
  min-width: 600px;
  min-height: 550px;
  margin-top: 50px;
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin-bottom: 50px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.traffic-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.traffic-item {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 2;
}

.traffic-bar {
  height: 80px; /* Adjust the height of the bars */
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.traffic-fill {
  height: 100%;
  background-color: yellow;
  opacity: 0.3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



.traffic-label {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.traffic-value {
  font-size: 14px;
}

.see-traffic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.see-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.see-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



/*Signuploc*/
.table{
  margin-top:30px;
  width: 100%;
  height: 100%;
  line-height: 4;
  font-size: 20px;
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.traffic-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.traffic-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.traffic-bar {
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.traffic-fill {
  height: 100%;
  background-color: yellow;
  opacity: 0.3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.traffic-label {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.traffic-value {
  font-size: 14px;
}

.see-traffic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.see-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.see-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.bar-title-overlay {
  display: flex;
  align-items: center;

}

.flag {
  margin-right: 5px;
}

/*signuploccss*/


.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.traffic-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.traffic-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.traffic-bar {
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.traffic-fill {
  height: 100%;
  background-color: yellow;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traffic-label {
  font-size: 14px;
  color: #555;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.flag {
  width: 1.5em;
  height: 1.5em;
}

.traffic-value {
  font-size: 14px;
}

.see-traffic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.see-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.see-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


/*behaviour*/
.traffic-container {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bar-title {
  font-size: 24px;
  margin: 0;
}

.traffic-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.traffic-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.traffic-bar {
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.traffic-fill {
  height: 100%;
  background-color: yellow;
  opacity: 0.3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar-title-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 5px;
  font-size: 20px;
  color: #555;
  white-space: nowrap;
}

.traffic-value {
  font-size: 14px;
}

.see-traffic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.see-button {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.see-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
